/*plaitnium  #e5e3e3
* gainsboro #d8e2dc
* mummy #808f85
* #dark grey #2f4858
* greenish #0a4c4a
*/ 

html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: #e5e3e3;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: linear-gradient(#0a4c4a, 20%, #e5e3e3);
  text-align: center;
  margin-bottom: 10px;
  padding: 55px;
}

.list-books-title h1,
.search-books h2 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #e5e3e3;
  text-shadow: 5px 5px 5px darkslategray;
}

.list-books-content {
  padding: 0 20px;
  flex: 1;
  background: #d8e2dc;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.16);
  border-right: 3px dotted rgba(0, 0, 0, 0.16);
  color: #808f85;
  border-radius: 3rem;
  box-shadow: -5px -5px 10px #808f85;
  margin: 0 2rem 2rem 2rem;

}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  /* border-bottom: 1px solid #dedede; */
  /* background:#0a4c4a; */
  background: linear-gradient(0.25turn, #f69c3c50, #0a4c4a, #f69c3c50);
  color: #e5e3e3;
  display: inline;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #999;

}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  margin-top: 8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  /* background: #e9e; */
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  background:rgba(0, 0, 0, 0.23);
}
.search-books-bar :focus {
  background-color: rgba(255, 255, 0, 0.216);
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}


.search-books h2{
  text-align: center;
  color: rgb(253, 101, 127);
}
.noresultbox {
  padding: 1rem;
}
.noresultbox hr{
  width:60%;
color: #0a4c4a;
}

.exist{
  background: linear-gradient(grey,#e5e3e3);
  box-shadow: -2px -2px 5px #e5e3e3;
  border-top: 1px dashed rgba(0, 0, 0, 0.23);
  /* border:3px solid red; */
}
.loading {
  text-align: center;
  margin-top: 7rem;
  color: #0a4c4a;
}